@import url('https://fonts.googleapis.com/css2?family=Roboto300,200,480,540,600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.main{
    max-width: 1330px;
    margin: auto;
    /* border: 2px green solid; */
    padding: 0px 15px;
}
.header-sec{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* border: 2px red solid; */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
    border-top: 1px rgb(157, 155, 155) solid;
    border-bottom: 1px rgb(202, 199, 199) solid;
}
.header-left{
    display: flex;
    flex-basis: 48%;
    /* border: 1px green solid; */
}
.logo{
    align-self: center;
    /* border: 1px red solid; */
    padding-left: 10px;
}
.img1{
    height: 18px;
}
.navbar{
    padding-left: 20px;
    /* border: 2px red solid; */
    
}
.navbar>ul{
    display: flex;
}
.navbar>ul>li{
    font-family: inherit;
    padding: 35px 16px;
}
 li a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.header-right{
    flex-basis: 15%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px red solid; */
}
.header-support{
    padding: 10px 30px;
    /* border: 1px green solid; */
    border-right: 1px #ccc solid;
}
.header-search{
    /* border: 1px rgb(0, 255, 89) solid; */
    padding-left: 20px;
    /* padding-right: 20px; */
}
.sub-shop-menu{
    width: 100%;
    background: white;
    border-top: 1px rgb(165, 162, 162) solid;
     box-shadow: 0px 15px 10px -15px #111;
    left: 0%;
    top: 100%;
    padding: 40px;
    padding-bottom: 50px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
    z-index: 999;
}
.under-line{
    transition: 0.5s;
    /* display: none; */
    transform: translate(1,1);
    transform-origin: left;
    cursor: pointer;
}
.navbar a{
    position: relative;
    /* padding: 0px 10px; */
}
.navbar a::after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 1.8px;
    width: 0%;
    left: 0px;
    top: 25px;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar>ul>li:hover .sub-shop-menu{
    transform: scaleY(1);
}
.navbar>ul>li:hover i{
    transform: rotate(180deg);
}
.navbar>ul>li:hover .under-line{
    transform: translate(10,10);
    /* display: block; */
}

.shop-mega-menu{
    width: 1170px;
    /* border: 1px red solid; */
    margin: auto;
    display: flex;
}
.shop-mega-1{
    /* height: 400px; */
    flex-basis: 18%;
    /* border: 1px rgb(53, 0, 128)  solid; */
}
.shop-mega-2{
    /* height: 400px; */
    flex-basis: 18%;
    /* border: 1px green  solid; */
}
.mega-img1{
    width: 100%;
    /* border: 1px red solid; */
    box-sizing: border-box;
}
.imgv{
    width: 200px;
    height: 120px;
}
.mega-v{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
    color: gray;
    padding: 20px 0px;
}
.mega-items{
    padding: 8px 0px;
    font-weight: 400 !important;
    font-size: 14px;
}
.main-heading{
    /* border: 1px red solid; */
    font-family: 'Optimistic Display','NotoSans','NotoSansJP','NotoSansKR',sans-serif;
    font-weight: 400 !important;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2.2px !important;
    color: #666666;
    padding: 30px 0px;
}
.top-sec1{
    /* border: 1px red solid; */
    font-family: 'Optimistic Display','NotoSans','NotoSansJP','NotoSansKR',sans-serif;
    font-weight: 600 !important;
    font-size: 24px;
    letter-spacing: 3px !important;
    color: #666666;
    padding: 28px 0px;
}
.mid-sec{
    width: 100%;
    /* border: 1px hotpink solid; */
    display: flex;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    justify-content: space-between;
    margin-bottom: 5%;
}
#mid-h{
    width: 100%;
    transform: scale(1.22,1);
    height: 100%;
    transform-origin: center;
}
.mid-img{
    width: 100%;
    height: 500px;
    /* border: 1px red solid; */
    box-sizing: border-box;
    background-size: 100%;
    transition: 0.2s;
    transform: scale(1);
    object-fit: contain;
    background-image: url('image/bg.jpg');
    margin-bottom: 20px;
    /* transition: all 0.5s ease; */
}
.mid-img img:hover {
    transform: scale(1.02);
}
.mid-left{
    flex-basis: 48%;
    overflow: hidden;
    /* border: 1px red solid; */

}
.mid-right{
    flex-basis: 48%;
    /* border: 1px rgb(76, 3, 136) solid; */
}
.img-heading{
    width: 100%;
    /* height: 298px; */
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.captions{
    flex-basis: 50%;
    /* border: 1px green solid; */
    padding: 5px;
}
.cp-img{
    flex-basis: 46%;
    /* border: 1px blue solid; */
    /* padding: 10px; */
}
.mid-txt-h3{
    display: inline-block;
    font-style: inherit;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 500;
    /* font-weight: normal; */
    padding: 10px 0px;
    /* border: 1px black solid; */
}
.pointer1{
    cursor: pointer;
    transition: 0.5s;
}

.red{
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(87.55deg,#ff7a00 -.46%,#ff0169 50.82%,#d300c5 102.1%) 0 0 1 0;   
}
.blue{
    border-bottom: 2px blue solid;
}
.green{
    border-bottom: 2px green solid;
}
.mid-text{
    padding: 10px;
    /* border: 2px green solid; */
}
.mid-h1{
    font-size: 24px;
    font-style: inherit;
    letter-spacing: 2px;
    font-weight: 500;
}
.mid-p{
    /* border: 1px firebrick solid; */
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    font-style: inherit;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 20px;
}
.mid-rt-img{
    height: 200px;
    margin-bottom: 80px;
    /* border: 1px darkblue solid; */
}
.img-mid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* rayband starts here */
.ray-sec{
    max-width: 100%;
    max-height: 550px;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.ray-left{
    flex-basis: 50%;
    padding-top: 10%;
    padding-left: 50px;
    background-color: #edf0f2;
}
.ray-right{
    flex-basis: 50%;
    /* border: 1px rebeccapurple solid; */
}
.ray-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ray-text{
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: bolder;
}
.footer-sec{
    max-width: 1200px;
    margin-top: 8%;
    padding-left: 7%;
    margin-bottom: 30px;
    display: flex;
    /* border: 1px red solid; */
}
.footer-left{
    /* border: 1px green solid; */
    flex-basis: 20%;
}
.footer-right{
    flex-basis: 80%;
    /* height: 500px; */
    /* border: 2px red solid; */
}
.footer-right figure{
    flex-basis: 35%;
    /* border: 1px gold solid; */
    /* padding: 18px; */
}
figure .img1{
    width: 100%;
    height: 100%;
}
.div5{
    flex-basis: 65%;
    /* border: 2px green solid; */
}
.f-r-div{
    width: 100%;
    /* border: 1px rgb(232, 19, 164) solid; */
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}
.f-rt-img{
    border: 3px rgb(34, 0, 255) solid;
    width: 100%;
    /* height: 250px; */
  
}
.f-rt-img img{
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
}
.hr-2{
    max-width: 960px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin: auto;
    /* margin-top: 20px 0px; */
}
.links-rec{
    margin: 50px 0px;
    width: 100%;
    padding: 30px;
    /* height: 120px; */
    background: #f0eeee;
    display: flex;
    justify-content: center;
}
.items1{
    /* z-index: 9999; */
    flex-basis: 22%;
    /* border: 1px red solid; */
    justify-content: flex-end;
    align-self: center;
}
.black{
    color: #4a4949;
}
.last-portion{
    width: 100%;
    margin-bottom: 55px;
    display: flex;
    padding-left: 3%;
}
.last-pr-left{
    flex-basis: 28%;
    /* border: 1px gray solid; */
}
.last-pr-m{
    flex-basis: 20%;
    /* border: 1px gray solid; */
}
.last-pr-center{
    flex-basis: 20%;
    /* border: 1px gray solid; */
}
.last-pr-right{
    flex-basis: 20%;
    /* border: 1px gray solid; */
}
.pd{
    padding: 2px !important;
    font-weight: bold;
    color: #111  !important;
}
.icons{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between;
    width: 24px;
    height: 24px;
}
.icons img{
    width: 100%;
    height: 100%;
}
.end-sec{
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end-left{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px red solid; */
    color: #666666;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: lighter !important;
}
.end-right{
    flex-basis: 20%;
    /* border: 1px rgb(0, 255, 47) solid; */
    color: #666666;
}