@media screen and (max-width:567px){
    .logo{
        margin-left: 70%;
        padding: 30px;
    }
    .logo .img1{
        height: 16px;
    }
    .navbar{
        display: none;
    }
    .header-right{
        display: none;
    }
    .main-heading{
        font-size: 32px;
        margin-top: -10px;
    }
    .top-sec1{
        font-size: 13px;
        margin-top: -40px;
    }
    .mid-sec{
        flex-direction: column;
    }
    .img-heading{
        flex-direction: column-reverse;
    }
    .mid-txt-h3{
        margin-top: -25px;
    }
    .mid-right{
        margin-top: 20px;
    }
    .mid-h1{
        font-size: 18px;
    }
    .mid-p{
        font-size: 10px;
        line-height: 18px;
    }
     span{
        font-size: 10px;
        margin-top: -15%;
    }
    .captions{
        margin-top: -15%;
    }
    .ray-sec{
        flex-direction: column;
        box-sizing: border-box;
    }
    .ray-left{
        padding-left: 0%;
        padding-bottom: 5%;
    }
    .ray-left p{
        display: none;
    }
   
    .f-r-div{
        flex-direction: column-reverse;
    }
    .footer-sec .footer-left{
        display: none;
    }
     .footer-sec {
        display: block;
        padding: 12px;
    }
    .mid-img{
        height: 300px;
        transform: scale(1.2,1);
        transform-origin: center;
    }
    .links-rec{
        /* margin: 30px 0px; */
        padding: 5px 0px;
        flex-direction: column;
        align-self: left;
    }
    .last-portion{
        flex-direction: column;
    }
}